.homePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeHeading > * {
  text-align: center;
}

img {
  max-width: 100%;
}

/* --------RESPONSIVE DESIGN-------- */

@media (max-width: 1200px) {
  .homePage {
    width: 90%;
  }
}
