.attractionsPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.attractions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
  width: 100%;
}

.attraction {
  width: 300px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  padding: 1.5em;
}

.attraction h3,
.attraction p {
  width: 100%;
}

.attraction img {
  max-width: 250px;
  max-height: 250px;
  object-fit: cover;
}

/* --------RESPONSIVE DESIGN-------- */

@media (max-width: 1200px) {
  .attractionsPage {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .attraction {
    width: 90%;
    margin: 8px 0px;
  }
}
