.attractionsPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.attraction h3,
.attraction p {
  width: 100%;
} /* delete this since common? */

.attraction img {
  max-width: 250px;
  max-height: 250px;
  object-fit: cover;
}

/* --------RESPONSIVE DESIGN-------- */

@media (max-width: 1200px) {
  .attractionsPage {
    width: 90%;
  }
}
