.homePage {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.homeHeading > * {
  text-align: center;
}

.heroImg {
  max-width: 100%;
}

#rsvpBtn {
  background-color: #651dd8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#rsvpBtn {
  transition-duration: 0.4s;
}

#rsvpBtn:hover {
  background-color: #3d0f87;
  color: white;
  cursor: pointer;
}
