.weddingPageContainer {
  width: 100%;
  margin-bottom: 4rem;
}

.weddingPageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10%;
}

.infoBlockContainer {
  display: flex;
  flex-direction: column;
}

.infoBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.party p {
  margin: 0.25em 0;
}

.party h3 {
  margin: 0.75em 0;
}

/* --------RESPONSIVE DESIGN-------- */

@media (max-width: 800px) {
  .weddingPageContainer {
    margin: 0;
  }
}
