.rsvpPageContainer {
  width: 100%;
  margin-bottom: 4rem;
}

.rsvpPageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10%;
}

/* --------RESPONSIVE DESIGN-------- */

@media (max-width: 800px) {
  .rsvpPageContent {
    margin: 0;
  }
}
